h1 {
  font-size: 4.5rem;
  color: var(--blackish-color);
  text-align: center;
  line-height: 90%;
  padding-bottom: 0.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (max-width: 381px) {
  h1 {
    font-size: 4.25rem;
    padding-bottom: 0.3rem;
    /* line-height: 85%; */
  }
}
