.reset-container {
  display: flex;
  align-items: center;
  gap: 9px;
  align-self: flex-end;

  p {
    font-size: 0.9rem;
    color: #817e8c;
  }

  kbd {
    font-family: inherit;
    color: inherit;
    background-color: white;
    padding: 2px 6px;
    border-radius: 3px;
    /* x y blur spread color */
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.05);
  }
}

.reset-btn {
  --btn-text: #584d8c;
  --btn-bg: #dfd9ff;
  --btn-hover: #d9d1ff;
  --btn-active: #d4ccff;

  color: var(--btn-text);
  background-color: var(--btn-bg);
  border: none;
  padding: 8px 14px 8px 13px;
  border-radius: 6px 6px 0px 0px;
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  gap: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.95rem;
  z-index: 999;
}

/* This is so that hover doesn't persist on mobile after tapping btn */
@media (hover: hover) {
  .reset-btn:hover {
    background-color: var(--btn-hover);
  }
}

.reset-btn:active {
  background-color: var(--btn-active);
}

.reset-btn:focus-visible {
  outline: solid;
  outline-offset: -1.5px;
}

@media (max-width: 918px) {
  .reset-container {
    .reset-btn {
      position: fixed;
      bottom: 1rem;
      right: 1rem;
      border-radius: 6px;
    }

    p {
      display: none;
    }
  }
}
