.sticky-container {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}

/* Result row */
ol {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  font-weight: 500;
  padding: 1rem 0;
}

li {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  transition: all 0.1s ease-in-out;
}

/* Result colors */
.no {
  color: white;
  background-color: #ff6673;
}
.unlikely {
  color: white;
  background-color: #f285e9;
}
.maybe {
  color: white;
  background-color: #4d97ff;
}
.likely {
  color: white;
  background-color: #47cccc;
}
.yes {
  color: white;
  background-color: #6ecc5c;
}
