footer {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  max-width: 870px;
  width: 100%;
  margin: 0 auto;
  row-gap: 1.5rem;
  padding: 5.25rem 0 2.5rem 0;
  color: #817e8c;

  .cell {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  /* .info {
    grid-column: span 2;
  } */

  .grid-end {
    justify-self: end;
  }

  .copyright {
    width: 270.61px;
  }

  h3 {
    font-size: 1rem;
    font-weight: 500;
  }

  span {
    font-size: 0.94rem;
  }

  p {
    font-size: 0.85rem;
    display: inline;
    min-height: 20.4px;
  }

  a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    width: max-content; /* so that not the whole grid cell is a link, just the text */
    align-items: center;
    gap: 4px;

    &:visited {
      color: inherit;
    }

    &:hover {
      color: var(--accent-color);
      /* transition: all 0.1s ease-in-out; */
    }
  }
}

@media (max-width: 918px) {
  footer {
    max-width: 434px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    /* .info {
      grid-column: span 1;
    } */

    .grid-end {
      justify-self: start;
    }
  }
}

@media (max-width: 482px) {
  footer {
    margin: 0;
    padding: 5.25rem 1rem 2.5rem 1rem;
  }
}
