:root {
  /* COLORS *******************************************************************************/
  --bg-color: #f6f5fa;
  --blackish-color: #615c66;
  --accent-color: #7769bf;
  background-color: var(--bg-color);
  color: var(--blackish-color);

  /* OTHER ******************************************************************************/
  cursor: default;
  /* Disable "tap highlight" effect on iOS for calmer, tidier ux/ui */
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;

  /* FONT *******************************************************************************/
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1, "dlig" 0, "case" 0, "zero" 0,
    "ss01" 1, "ss03" 0, "cv06" 1, "cv05" 0;
  /* besides default liga and calt, I ended up enabling alt numbers and different 'u' */

  /* Font options */
  font-optical-sizing: auto;
  /* Whether or not the browser may synthesize bold, italic, small-caps, sub- and superscript when they're missing in the font-family. */
  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

/****************************************************************************************/

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

button,
label {
  cursor: pointer;
  /* This so that long-press on a button (on mobile) doesn't select the btn text */
  user-select: none;
  -webkit-user-select: none;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  line-height: inherit;
}

/****************************************************************************************/

body {
  /* Text */
  line-height: 1.5;
  overflow-wrap: break-word;

  /* Layout */
  min-width: 320px;
  min-height: 100vh;

  /* Grainy bg */
  /* background-image: url("./assets/grain.svg");
  background-repeat: repeat; */
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100vh;
  max-width: 870px;
  margin: 0 auto;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* gap: 4rem; */
  justify-content: center;
  /* justify-content: space-evenly; */
  /* align-items: center; */
  width: 100%;
  /* padding: 0rem 4rem 0rem 4rem; */
}

/* Applies to all svg icons - in logo, and lucide icons */
/* DONE: revisit this rule. - yes, keep the rule, Sep 18, 2024 */
svg {
  padding-bottom: 0.5px;
}
