:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #ffffff;
  color: #555059;
  --blackish-color: #555059;
  --grey-text-color: #acaaad;
  --card-bg-color: #fcfcfc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  cursor: default;
  box-sizing: border-box;
  /* This so that long-press on a button on mobile doesn't select the btn text */
  user-select: none;
  -webkit-user-select: none;
  /* Disable "tap highlight" effect on iOS for calmer, tidier ux/ui */
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  overflow-y: visible;
}

#root {
  margin: 0rem 3rem 0rem 3rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.28rem;
  /* margin-bottom: 1rem; */

  /* svg {
    padding-bottom: 0.5px;
  } */
}

/* Logo */
h1 {
  font-size: 1em;
  font-weight: 700;
  /* line-height: 1.1; */
  margin: 1.25rem 0rem;
  text-align: center;
}

/* Applies to all icons - in logo, and lucide icons */
svg {
  padding-bottom: 0.7px;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  gap: 4rem;
  /* justify-content: space-evenly; */
  /* align-items: center; */
  padding-bottom: 5rem;
  /* margin: 1.5rem; */
}

/* Hero text + Result */
.hero {
  display: flex;
  flex-direction: column;
  /* gap: 0.1rem; */
  position: relative;
  overflow-y: visible;
  padding-top: 1.2rem;
}

/* Hero text */
h2 {
  margin: 0;
  font-size: 2.6rem;
  color: var(--grey-text-color);
  text-align: center;
  line-height: 90%;
}

/* RESULT */

.sticky-container {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  /* align-self: flex-start; */
  /* justify-self: flex-start; */
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}

/* Result row */
ol {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.25rem;
  list-style-type: none;
  padding: 0;
  font-weight: 500;
  padding: 1rem 0;
  margin: 0;
}

li {
  padding: 0.4rem 0.85rem;
  border-radius: 6px;
  transition: all 0.1s ease-in-out;
}

/* Result colors */
.no {
  color: white;
  background-color: #ff6673;
}
.unlikely {
  color: white;
  background-color: #f285e9;
}
.maybe {
  color: white;
  background-color: #4d97ff;
}
.likely {
  color: white;
  background-color: #47cccc;
}
.yes {
  color: white;
  background-color: #6ecc5c;
}

/* CONTROLS */

.controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
  justify-content: center;
  gap: 4rem;
}

.method-category {
  flex: 1;
  max-width: 364px;
  min-width: 364px;
  /* width: 40%; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--card-bg-color);
  padding: 2rem 2.5rem 2.5rem 2.5rem;
  border-radius: 0.5rem;
  max-height: min-content;
}

.method-category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Methods heading */
h3 {
  margin: 0;
  color: var(--grey-text-color);
  font-size: 1.25rem;
}

.radios-column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-height: min-content;
}

/* Radio group */
fieldset {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  /* gap: 1.5rem; */
  border: none;
  margin: 0;
  padding: 0;
  max-height: min-content;
}

/* First label in the fieldset to have rounded corners on left side */
fieldset label:first-of-type {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

/* Separator */
fieldset label:nth-of-type(2) {
  border-left: 1px solid var(--card-bg-color);
  border-right: 1px solid var(--card-bg-color);
}

/* Last label in the fieldset to have rounded corners on right side */
fieldset label:last-of-type {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

/* Radio group heading */
legend {
  font-weight: 600;
  font-size: 0.95rem;
  padding-bottom: 0.5rem;
  /* text-align: center; */
}

/* Radio item */
label {
  cursor: pointer;
  background-color: #f2f2f2;
  padding: 0.5rem 0.95rem 0.5rem 0.85rem;
  accent-color: black;
  display: flex;
  align-items: center;
  transition: background-color 0.1s ease-in-out;
  max-height: 1.5rem; /* ensure consistent height. there was an issue on mobile. (content is 24px = 1.5rem x 16) */
}

/* This is so that hover doesn't persist on mobile after tapping btn */
@media (hover: hover) {
  label:hover {
    input {
      background-color: #f5ebff;
      /* transition: all 0.1s ease-in-out; */
    }
  }
}

label:active {
  background-color: #ededed;
}

/* Focus */
label:has(input:focus-visible) {
  outline: solid var(--blackish-color);
  outline-offset: -1.5px;
}

/* Change bg color of radio item when the input inside is checked */
label:has(input:checked) {
  background-color: #e8e8e8;
}

/* Radio circle */
input {
  appearance: none;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  margin: 0 0 1px 0;
  background-color: white;
  border: 1.5px solid var(--blackish-color);
  outline: none;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

input:checked {
  /* background-color: #242a33; */
  /* border: 3.5px solid white; */
  /* outline: 1.5px solid #242a33;
  outline-offset: -1.5px; */
  border: 4.25px solid var(--blackish-color);
}

/* input:focus-visible {
    outline: 2px solid var(--blackish-color);
    outline-offset: 0px;
  } */

/* Radio item text */
span {
  padding-left: 0.35rem;
  vertical-align: middle;
}

/* For when other methods are selected */
.disabled {
  opacity: 0.4;
  pointer-events: none;
}

/* Reset all radio selections */
.reset-btn {
  background-color: #f7f0ff;
  color: #8a62b2;
  border: none;
  padding: 0.6rem 0.97rem 0.6rem 0.85rem;
  border-radius: 6px;
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
  /* align-self: center; */
  /* margin-bottom: 1rem; */
  /* transition: all 0.05s ease-in-out; */
  /* outline-offset: -1.5px; */
  position: fixed;
  bottom: 1.75rem;
  /* right: 1rem; */
  right: 50%;
  transform: translateX(50%);
}

/* This is so that hover doesn't persist on mobile after tapping btn */
@media (hover: hover) {
  .reset-btn:hover {
    /* background-color: #f2f2f2; */
    outline: 1.5px solid #a273d1;
    outline-offset: -1.5px;
  }
}

.reset-btn:active {
  background-color: #f5ebff;
  /* outline: 1.5px solid #9d70cc;
  outline-offset: -1.5px; */
}

.reset-btn:focus-visible {
  outline: solid;
  outline-offset: -1.5px;
}

/* Adjust rounded corners when radio items wrap on mobile */
@media (max-width: 395px) {
  fieldset label:nth-of-type(2) {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  fieldset label:nth-of-type(3) {
    border-top: 1px solid var(--card-bg-color);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
  }
}

@media (max-width: 492px) {
  main {
    padding-bottom: 4.5rem;
  }

  .controls {
    width: 100%;
  }

  .method-category {
    min-width: 250px;
    padding: 1.25rem 1rem 2rem 1rem;
    gap: 1rem;
  }

  .radios-column {
    gap: 1.5rem;
  }
}

@media (max-width: 1047px) {
  #root {
    margin: 0rem 0rem 0rem 0rem;
  }

  main {
    gap: 2rem;
  }

  .controls {
    gap: 2rem;
  }

  .reset-btn {
    bottom: 1rem;
    right: 1rem;
    transform: translateX(0%);
  }
}
