:root {
  /* COLORS *******************************************************************************/
  background-color: #f7f5fa;
  color: var(--blackish-color);
  --blackish-color: #615c66;
  --accent-color: #7769bf;

  /* OTHER ******************************************************************************/
  cursor: default;
  /* Disable "tap highlight" effect on iOS for calmer, tidier ux/ui */
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;

  /* FONT *******************************************************************************/
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1, "dlig" 0, "case" 0, "zero" 0,
    "ss01" 1, "ss03" 0, "cv06" 1, "cv05" 0;
  /* besides default liga and calt, I ended up enabling alt numbers and different 'u' */

  /* Font options */
  font-optical-sizing: auto;
  /* Whether or not the browser may synthesize bold, italic, small-caps, sub- and superscript when they're missing in the font-family. */
  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

/****************************************************************************************/

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

button,
label {
  cursor: pointer;
  /* This so that long-press on a button (on mobile) doesn't select the btn text */
  user-select: none;
  -webkit-user-select: none;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  line-height: inherit;
}

/****************************************************************************************/

body {
  /* Text */
  line-height: 1.5;
  overflow-wrap: break-word;

  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  overflow-y: visible;

  /* Grainy bg */
  /* background-image: url("./assets/grain.svg");
  background-repeat: repeat; */
}

#root {
  margin: 0rem 0rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100vh;
  max-width: 870px;
  margin: 0 auto;
}

/* Applies to all icons - in logo, and lucide icons */
/* TODO: revisit this rule */
svg {
  padding-bottom: 0.7px;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* justify-content: center; */
  /* gap: 4rem; */
  justify-content: space-evenly;
  /* align-items: center; */
  width: 100%;
  /* padding: 0rem 4rem 0rem 4rem; */
  /* margin: 1.5rem; */
  /* background-color: #f7f5fa; */
  /* border-top-right-radius: 8px;
  border-top-left-radius: 8px; */
}

@media (max-width: 1079px) {
  main {
    padding: 0rem 0rem 4.5rem 0rem;
  }
}
